
/*-------------------------------------------------- */
/* Footer style
/*------------------------------------------------- */

footer.template-footer {
	position: relative;
	div.instagram-line {
		border-top: 1px solid #2e2e2e;
		background: #242424;
		ul.insta-list {
			padding: 0;
			margin: 0;
			overflow: hidden;
			li {
				display: block;
				float: left;
				width: 12.5%;
				border: none;
				@include tablet {
					width: 25%;
				}
				a {
					display: block;
					img {
						width: 100%;
						height: auto;
					}
					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
	}
	div.widget-part-area {
		background: #1f1f1f;
		.col-lg-4:first-child {
			.footer-widget-line {
				padding-left: 0;
				border-left: none;
				@include xlarge_desktop {
					padding-left: 30px;
				}
			}
		}
		.footer-widget-line {
			min-height: 440px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-left: 40px;
			border-left: 1px solid #242424;
			@include mobile {
				min-height: 40px;
				padding: 30px;
				border-left: none;
				border-bottom: 1px solid #242424;
			}
			h5 {
				color: rgba(#ffffff, 0.8);
				font-size: 16px;
				font-weight: 300;
				margin: 0 0 25px;
				text-transform: uppercase;
			}
			ul.custom-list {
				padding: 0;
				margin: 0;
				li {
					display: block;
					a {
						color: #ffffff;
						font-size: 15px;
						line-height: 30px;
						text-decoration: underline !important;
					}
				}
			}
		}
	}
}

a.go-top {
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 60px;
	height: 60px;
	color: #ffffff;
	font-size: 30px;
	line-height: 60px;
	text-align: center;
	background: $primary-color;
	&:hover {
		opacity: 0.8;
	}
	@include tablet {
		display: none;
	}
}

.footer-last-line {
	margin-left: -1px;
	background: #282828;
	padding: 30px 0;
	@include xlarge_desktop {
		padding-left: 30px;
		padding-right: 20px;
	}
	@include mobile {
		text-align: center;
		padding-left: 0;
		padding-right: 0;
	}
	p {
		margin: 10px 0;
	}
	ul.social-list {
        padding-right: 15px;
        margin: 0;
        text-align: right;
		@include mobile {
			text-align: center;
			padding: 0;
		}
        li {
        	display: inline-block;
            margin-left: 9px;
            text-align: center;
			@include mobile {
				margin: 0 5px !important;
			}
            a {
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border: 1px solid #4c4c4c;
                border-radius: 50%;
                color: rgba(255,255,255,0.4);
                &:hover {
                    background-color: $primary-color;
                    color: #ffffff;
                    border-color: transparent;
                }
            }
        }
    }
}

.light-version {
	footer.template-footer {
		div.widget-part-area {
			background-color: #ffffff;
			.footer-widget-line {
				border-color: #eeeeee;
				h5 {
					color: #6a6d74;
				}
				ul.custom-list {
					li {
						a {
							color: #51545c;
						}
					}
				}
			}
		}
	}
	a.go-top {
		background-color: $primary-color2;
	}
	.footer-last-line {
		background-color: #f3f3f3;
		ul.social-list {
	        li {
	            a {
	                border: 1px solid #e0e0e0;
	                color: #8a91a2;
	                &:hover {
	                    background-color: $primary-color2;
	                    color: #ffffff;
	                    border-color: transparent;
	                }
	            }
	        }
	    }
	}
}





