
/*-------------------------------------------------- */
/* Scroller section style
/*------------------------------------------------- */

section.scroller-section {
	padding: 70px 0 105px;
	border-top: 1px solid #393939;
	.owl-dots {
		display: none;
	}
	.owl-carousel .owl-nav button.owl-prev,
	.owl-carousel .owl-nav button.owl-next {
		width: 46px;
		height: 46px;
		text-align: center;
		line-height: 42px;
		padding-bottom: 2px !important;
		color: #ffffff;
		font-size: 28px;
		margin: 0;
		@include border-radius(0px);
		border: 1px solid #353535;
		@include transition(0.2s);
		&:hover {
			background-color: $primary-color;
			border-color: transparent;
		}
	}
	.owl-carousel .owl-nav button.owl-prev {
		margin-right: -1px;
	}
	.owl-theme .owl-nav {
		position: absolute;
		margin-top: 0;
		top: -86px;
		right: 0;
	}
	.scroller-post {
		position: relative;
		.image-holder {
			overflow: hidden;
			img {
				width: 105%;
				height: 360px;
				-webkit-transition: -webkit-transform 0.35s;
				transition: transform 0.35s;
				-webkit-transform: translate3d(-30px,0,0) scale(1.12);
				transform: translate3d(-30px,0,0) scale(1.12);
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				object-fit: cover;
				object-position: center;
			}
		}
		.hover-box {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 30px;
			@include transition(0.2s);
			@include desktop {
				padding: 30px;
			}
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				top: 0;
				opacity: 0;
				@include transition(0.2s);
				z-index: 2;
				background: linear-gradient(180deg,rgba(196,152,110,.0) 0%,rgba(196,152,110,.1) 25%,rgba(196,152,110,.5) 50%,$primary-color 100%);
			}
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				top: 0;
				opacity: 1;
				@include transition(0.2s);
				background: linear-gradient(180deg,rgba(11,11,11,.0) 0%,rgba(11,11,11,.1) 25%,rgba(11,11,11,.4) 50%,rgba(11,11,11,.7) 100%);
			}
			span {
				display: inline-block;
				width: 60px;
				height: 60px;
				text-align: center;
				line-height: 44px;
				color: #fff;
				border: 10px solid rgba(#fff, 0.2);
				@include border-radius(50%);
				margin-bottom: 10px;
				font-size: 24px;
				font-weight: 400;
				font-family: $font-alternative;
				position: relative;
				z-index: 2;
			}
			a.cat-link {
				color: #ffffff;
				font-size: 14px;
				font-weight: 600;
				font-family: $font-default;
				margin: 0 0 12px;
				position: relative;
				z-index: 2;
				&:before {
					content: '';
					display: inline-block;
					width: 56px;
					height: 2px;
					margin-right: 20px;
					background: #fff;
					margin-top: 10px;
					float: left;
					@include transition(0.36s);
				}
			}
			h4 {
				margin-bottom: 0;
				position: relative;
				z-index: 2;
				@include large_desktop {
					font-size: 20px;
				}
				a {
					color: #ffffff;
					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
		&:hover {
			.image-holder {
				img {
					-webkit-transform: translate3d(0,0,0) scale(1);
					transform: translate3d(0,0,0) scale(1);
				}
			}
			.hover-box {
				&:before {
					opacity: 1;
				}
				&:after {
					opacity: 0;
				}
				a.cat-link:before {
					width: 0;
					margin-right: 0;
				}
			}
		}
	}
}

.light-version {
	section.scroller-section {
		border-color: #e0e0e0;
		
		.owl-carousel .owl-nav button.owl-prev,
		.owl-carousel .owl-nav button.owl-next {
			color: #c2c3c5;
			border: 1px solid #e0e0e0;
			&:hover {
				color: #ffffff;
				background-color: $primary-color2;
				border-color: transparent;
			}
		}
		.scroller-post {
			.hover-box {
				background-color: rgba($primary-color2, 0.95);
				&:before,
				&:after {
					display: none;
				}
			}
			&:hover {
				.hover-box {
					justify-content: center;
					align-items: center;
					background-color: transparent;
					span, a.cat-link {
						display: none;
					}
					h4 a {
						text-indent: -99999px;
						color: transparent;
						overflow: hidden;
						position: relative;
						width: 63px;
						height: 63px;
						border: 10px solid #d6d6d6;
						background-color: $primary-color2;
						@include border-radius(50%);
						&:after {
							content: '';
							position: absolute;
							top: 2px;
							bottom: 2px;
							left: 50%;
							width: 1px;
							background-color: #ffffff;
							transform: translateX(-50%);
						}
					}
				}
			}
		}
	}
}
